<wage3-header (changeInMainTabEmitter)="changeInMainTab($event)" [dashboardData]="dashboardData"
    [typeOfMainTabSelected]="typeOfMainTabSelected"></wage3-header>
<ng-container *ngIf="typeOfMainTabSelected == TypesOfMainTab.Dashboard; else projectsTab">
    <wage3-dashboard *ngIf="dashboardData" [dashboardData]="dashboardData"
        (changeMainTabToProjects)="changeMainTabToProjects()"></wage3-dashboard>
</ng-container>
<ng-template #projectsTab>
    <wage3-projects-tab *ngIf="openProjects" [typeOfUser]="typeOfUser" [supportedProjects]="supportedProjects"
        [openProjects]="openProjects" [completedProjects]="completedProjects"></wage3-projects-tab>
</ng-template>