@import "../../../assets/styles/main"

:host 
    display: grid
    grid-template-columns: 100%
    width: 100%
    justify-content: center
    margin-top: 30px
    .label-left
        display: grid
        width: 100%
        justify-items: start
    .invested-input
        display: grid
        grid-template-columns: auto auto 
        justify-items: stretch
        .invested-amount
            justify-self: start
        .icon-and-earned-today
            display: grid
            grid-template-columns: auto 1fr
            justify-self: end
            align-items: center
            column-gap: 8px
            .icon
                max-width: 30px
                justify-self: end
            .earned-today
                justify-self: end
    .three-projects
        display: grid
        width: 100%
        grid-template-rows: auto auto
        grid-template-columns: auto auto auto
        justify-content: space-between
        .fake-input
            width: 150px
            display: flex
            justify-content: center