<div class="header-container">
    <div class="header-section logo-and-name">
        <div class="logo">Logo</div>
        <div class="brand-name">Wage3</div>
    </div>
    <div class="header-section tabs">

        <div class="tab">
            <span class="tab-text selected">
                Dashboard
            </span>
        </div>
        <div class="tab">
            <span class="tab-text">
                Proyectos
            </span>
        </div>
    </div>
    <div class="header-section">
        <div class="primary-button">
            Connect wallet
        </div>
    </div>
</div>