
@import "../../../assets/styles/main"
:host 
    display: grid
    grid-template-columns: 100%
    width: 100%
    justify-content: center
    .main-container
        border: 1px solid #000
        width: 100%
        display: grid
        justify-items: center
        background: $primary-gradient
        border-radius: 50px
        max-width: 750px
        padding: 30px 100px
        margin-bottom: 50px
        justify-self: center
        .internal-container
            display: grid
            justify-items: center
            width: 100% 