$white: #ffffff
$almost-white: #F5F5F5
$primary-color: #3498db 
$secondary-color: #1f174c
$green: #00DDA3
$primary-gradient: linear-gradient(252deg, #573D92 0%, #5F55CE 25%, #615ECC 53.22%, #6347B6 75.52%, #3E266A 100%)
$secondary-gradient: radial-gradient(127.35% 123.95% at 88.58% 24.1%, #7388FF 0%, #CA73FF 50.34%, #FF739D 100%)
$button-padding: 16px
$paragraph-padding: 30px
$primary-font: 16px Poppins-Medium, Helvetica 
$font-size-extra-small: 14px
$font-size-small: 16px
$font-size-medium: 20px
$font-size-large: 32px
$font-size-extra-large: 48px